@import "tailwindcss";

:root {
  --color-1: #908B75;
  --color-2: #1C1B16;
  --color-3: #FC6415;
  --color-4: #2E280B;
  --color-5: #d9d9d9;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  /* font-family: var(--font-poppins); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "rlig" 1, "calt" 1;
}

html {
  scroll-behavior: smooth;
}

h1,
h2, h3, h4 {
  font-family: var(--font-libre-caslon-text);
}

p {
  font-family: var(--font-poppins);

}

a {
  font-family: var(--font-roboto-mono);
}

span {
  font-family: var(--font-roboto-mono);
}